@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");

.nav-bar {
opacity: 0.5;
background-color: green;
height: 70px;
font-size: 45px;
font-weight: bold;
text-align: center;
font-family: 'Open Sans Condensed', sans-serif;
}

div.chart {
  width: 50%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  transition: 0.5s;
}

.position {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  /* position: center; */
  position: fixed;
  text-align: center;
  /* display:block; */
}

.span {
  background: transparent;
  height: 30px;
  border-radius: 5px;
  width: 100px;
}

.buttonDiv {
  border: solid 1px black;
  border-radius: 5px;
  width: 100%;
  height: 10%;
  padding: 5px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.button {
  border: solid 1px black;
  border-radius: 5px;
  height: 25px;
  width: 55px;
  display: inline-block;
  padding-top: 3px;
  margin: 20px;
  margin-top: 15px;
  background: transparent;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}

.text-position {
  display:block;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px;
}

.total-bold {
  display:block;
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px;
  font-weight: bold;
}

.menu-div {
  float: right;
}

canvas {
  display: inline-block;
}

#menu-container {
  width: 100%;
  height: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#menu-container-left {

}

#menu-container-right {
  text-align: center;
  display: inline-flex;
  justify-content: space-around;
}

#menu-container-right div {
  flex: 0 1 auto;
}

.menu-container-pane {
  width: 49%;
  display: inline-block;
  text-align: center;
}
