div.chart {
  height: 20%;
  width: 20%;
  left: 50%;
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.padding {
  padding: 10px;
}
.margin {
  margin: 20px;
}
.border {
  border-radius: 10px;
}
.border-red {
  border-style: solid;
  border-color: red;
  border-width: 2px;
  width: auto;
}
